@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.content {
  background-color: yellow;
  padding: 0 50px;
  height: 100vh - 20px;
}

.site-layout-content {
  min-height: 280px;
  height: 100%;
  padding: 24px;
  background: #fff;
}

.footer {
  background-color: pink;
}

.centered {
  text-align: center;
}
